[submodule "trunk/lib/lua"]
	path = trunk/lib/lua
	url = https://gitlab.com/code9354626/library/lua.git
[submodule "trunk/lib/yaml"]
	path = trunk/lib/yaml
	url = https://gitlab.com/code9354626/library/yaml.git
[submodule "trunk/lib/libnet"]
	path = trunk/lib/libnet
	url = https://github.com/kouzhudong/libnet.git
