[submodule "src/lib/lua"]
	path = src/lib/lua
	url = https://gitlab.com/code9354626/library/lua.git
[submodule "src/lib/yaml"]
	path = src/lib/yaml
	url = https://gitlab.com/code9354626/library/yaml.git
[submodule "src/lib/libnet"]
	path = src/lib/libnet
	url = https://github.com/kouzhudong/libnet.git
